<!-- static dosyaları template içine eklemek için gerekli ifade -->
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\style.css' %}">
    <title>Document</title>
</head>
<body>
    <!-- diğer sayfalarda bu alana bilgiler gelecek block content - end block dışında kalanlar sabit sayfa
        elemanları -->
    {% block content %}
    {% endblock %}
</body>
</html>