<!-- static dosyaları template içine eklemek için gerekli ifade -->
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootsrap eklendi -->
    <link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css\style.css' %}">
    <title>Document</title>
</head>
<body>
    <!-- bu kısmı _navbar.html de alır -->
    {% include 'partials/_navbar.html'%}

    <main> 
        <!-- diğer sayfalarda bu alana bilgiler gelecek block content - end block dışında kalanlar sabit sayfa
        elemanları -->
        <div class="container mt-4">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <!-- bu kısmı _footer.html de alır -->
    {% include 'partials/_footer.html'%}


   


    <!-- bootsrap eklendi -->
    <script src="{% static 'js/jquery-3.4.1.min.js'%}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
</body>
</html>