_django/catalog/static/css/bootstrap.min.css
_django/catalog/static/css/style.css
_django/catalog/static/img/1.jpg
_django/catalog/static/img/2.jpg
_django/catalog/static/css/style.css
_django/catalog/static/img/3.jpg
_django/catalog/static/img/5.jpg
_django/catalog/static/img/4.jpg
_django/catalog/static/js/bootstrap.min.js
_django/catalog/static/js/jquery-3.4.1.min.js
_django/catalog/static/js/popper.min.js
